In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import ensemble
from sklearn import metrics

In [2]:
data = pd.read_csv("E:\Data science\Python\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
data['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [3]:
del data['RowNumber']
del data['CustomerId']
del data['Surname']

In [4]:
def model(data):
    x = data.iloc[:,:-1]
    y = data.iloc[:,-1]
    x = pd.get_dummies(x,columns=['Geography','Gender'])
    names = x.columns
    x = sk.preprocessing.minmax_scale(x,feature_range=(0,1))
    x = pd.DataFrame(x,columns=names)
    x_train,x_test,y_train,y_test = model_selection.train_test_split(x,y,test_size=0.33,random_state=0)
    model = ensemble.AdaBoostClassifier()
    model.fit(x_train,y_train)
    pred = model.predict(x_test)
    accuracy = metrics.accuracy_score(pred,y_test)
    return accuracy

In [5]:
model(data)

0.8581818181818182

In [7]:
import pickle

In [8]:
pickle.dump(model,open('model.pkl','wb'))